div.result, p.result {
    padding: 20px;
    border: 1px solid #d4dada;
    border-radius: 3px;
}
input {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #d4dada;
    border-radius: 3px;
    box-shadow: none;
    vertical-align: bottom;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}
.common-Button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    text-decoration: none;
    transition: all .15s ease;
}
.common-Button:hover {
  position: relative;
  top: -1px;
}
.common-Button:active {
  position: relative;
  top: +1px;
}
main {
  width: 900px;
}
span {
  font-size: 84px;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}
.blue:hover, .green:hover, .yellow:hover, .red:hover {
  color: grey;
}
